#dashboard {
  .container-fluid {
    padding: 0;

    .col-sm-11 {
      padding: 0;
    }
  }

  .page-header {
    margin: 0 0 30px 0;

    h2 {
      margin-bottom: 0;
    } 
  }

  .widget {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    padding: 10px;
    margin: 0 0 20px 0;

    .contents {
      position: relative;
      top: 10px;

      h3, h1 {
        margin: 0 0 10px 0;
        padding:0;
      }

      h1 {
        span {
          font-size: .5em;
        }
      }

      h3 {
        color: #777;
      }

      .alerts {
        color: #ff6666;
      }

      .alerts {
        color: #ff4d4d;
      }

    }

    .header {
      line-height: 80px;
    }

    .toggle {
    }

    .icon {
      position: absolute;
      top: 20px;
      right: 0;
      width: 40%;
      padding: 0 10px 0 0;
      text-align: right;
      color: lightblue;

      span {
        font-size: 4em;
      }

      .weight {
        color: #c6ecc6;
      }

      .bp {
        color: #ffb399;
      }

      .hr {
        color: lightpink;
      }
    }

    .content {
      color: #999;
      height: 6em;
      width: 60%;
    }
  }
}

