#labs {
  margin: 20px 10px;
  padding: 0;

  .row {
    margin: 0;

   .btn {
     padding: 6px 0;
   }
  }

  h3 {
    color: #777;
    margin: 0 0 10px 0;
    padding:0;
  }

  .header-fixed > thead > tr > th {
    width: 25% !important;
    float: left !important;
  }

  .header-fixed > tbody > tr > td {
    width: 25%;
    float: left;
  }
}
