
<div id="hr" class="container-fluid">
  <div>
    <h3><span class="fa fa-heartbeat"></span> Heart Rate</h3>
  </div>

  <div class="row">
    <a href="" class="btn" data-toggle="modal" data-target="#hrModal"><span class="fa fa-plus"></span> Add Heart Rate</a>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-hover header-fixed">
        <thead>
          <tr>
            <th><br/>Heart Rate</th>
            <th><br/>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hr in data">
            <td>{{hr.value}}</td>
            <td>{{hr.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<div class="modal fade" id="hrModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Heart Rate</h4>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <div class="form-group">
            <label>Heart Rate</label>
            <div class="form-inline">
              <input type="text" class="form-control" size="4" ng-model="value" />
              <select class="form-control" ng-model="uom">
                <option>bpm</option>
              </select>
              </div>
          </div>
          <div class="form-group">
            <label>Date</label>
            <div class='input-group'>
              <input type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}" placeholder="..." name="time" ng-model="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

