  <div class="jumbotron">
    <h1><span class="fa fa-clipboard"></span> AlphaPHR</h1> 
    <p>It’s never been easier to get your health records stored, analyzed and receive personalized health recommendations based on latest American clinical practice guidelines.</p>
  </div>

<div id="dashboard" class="container-fluid">
  <member-widget data="data.member"></member-widget>

  <alerts-widget data="data.alerts"></alerts-widget>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <weight-widget data="data.member"></weight-widget>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <bp-widget data="data.member"></bp-widget>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <hr-widget data="data.member"></hr-widget>
    </div>

  </div>

  <div class="row">
<!--
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <conditions-widget data="data.member"></conditions-widget>
    </div>
-->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <bmi-widget data="data.member"></bmi-widget>
    </div>
  </div>
</div>

