
<div id="medications" class="container-fluid">
<div>
  <h3><span class="fa fa-medkit"></span> Medications</h3>
</div>

<div class="row">
  <form class="form-inline">
         <div class="form-group">
           <label for="drug-name">Drug Name</label>
           <input type="text" class="form-control" />
         </div>
         <div class="form-group">
           <label for="form-strength">Form Strength</label>
           <input type="text" class="form-control" />
         </div>
         <div class="form-group">
           <label for="start-date">Start Date</label>
           <div class='input-group'>
             <input type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}" placeholder="..." name="time" ng-model="startDate">
             <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
             </span>
           </div>
         </div>
         <div class="form-group">
           <label for="end-date">End Date</label>
           <div class='input-group'>
             <input type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}" placeholder="..." name="time" ng-model="endDate">
             <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
             </span>
           </div>
           <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
         </div>

  </form>
</div>

<div class="row" style="height:300px; overflow-y:auto;">
  <div class="table-responsive">
    <table class="table table-striped table-hover header-fixed">
      <thead>
        <tr>
          <th>Medication</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="med in data">
          <td>{{med.code}} {{med.usage}}</td>
          <td>{{med.startDate}}</td>
          <td>{{med.endDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
