
<div class="widget">
  <div class="contents">
    <h2>{{hr.value}} {{hr.uom}}</h2>
    <div>Heart Rate</div>
  </div>
  <div class="icon">
    <a href="#/hr" class="btn"><span class="fa fa-plus"></span></a>
  </div>
</div>

  <div class="modal fade" id="hrModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Heart Rate</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Heart Rate</label>
            <input id="hr-rate" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label>Date</label>
            <div class='input-group'>
              <input id="hr-date" type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}" placeholder="..." name="time" ng-model="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

