
<div class="widget">
  <div class="header">
    Immunizations
  </div>
  <div class="icon">
    <a href="" class="btn" data-toggle="modal" data-target="#immunizationsModal"><span class="fa fa-plus"></span></a>
  </div>
</div>


  <div class="modal fade" id="immunizationsModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Immunization</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="vaccine-name">Vaccine name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

