<div class="widget">
  <div class="header">
    Lab Results
  </div>
  <div class="icon">
    <a href="" class="btn" data-toggle="modal" data-target="#labsModal"><span class="fa fa-plus"></span></a>
  </div>
</div>

  <div class="modal fade" id="labsModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Lab Results</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="lab-name">Lab Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <div class='input-group'>
              <input type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}" placeholder="..." name="time" ng-model="date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control">
              <option></option>
              <option>Complete</option>
              <option>Patient refused test</option>
              <option>Pending</option>
              <option>Quantity not sufficient</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

