<div class="widget">
  <div class="contents">

    <h3>
      <span class="fa fa-user"></span> {{demo.firstName}} {{demo.middleName}} {{demo.lastName}}
      <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#memberDetails">
        <span class="caret"></span>
      </button>
    </h3>

    <div id="memberDetails" class="collapse">
      <ul class="list-unstyled">
        <li>Gender: {{demo.gender}}</li>
        <li>DOB: {{demo.dob}}</li>
        <li>Age: {{demo.age}}</li>
        <li>Height: {{demo.height}}</li>
      </ul>
    </div>

  </div>
</div>
